@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: 'Avo';
  src: url("../fonts/avo/UTMAvo-Italic.woff2") format("woff2"), url("../fonts/avo/UTMAvo-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Avo';
  src: url("../fonts/avo/UTMAvo-BoldItalic.woff2") format("woff2"), url("../fonts/avo/UTMAvo-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Avo';
  src: url("../fonts/avo/UTMAvoBold.woff2") format("woff2"), url("../fonts/avo/UTMAvoBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Avo';
  src: url("../fonts/avo/UTMAvo.woff2") format("woff2"), url("../fonts/avo/UTMAvo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'play';
  src: url("../fonts/play/PlayfairDisplay-SemiBoldItalic.woff2") format("woff2"), url("../fonts/play/PlayfairDisplay-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'play';
  src: url("../fonts/play/PlayfairDisplay-BlackItalic.woff2") format("woff2"), url("../fonts/play/PlayfairDisplay-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'play';
  src: url("../fonts/play/PlayfairDisplay-Black.woff2") format("woff2"), url("../fonts/play/PlayfairDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'play';
  src: url("../fonts/play/PlayfairDisplay-Bold.woff2") format("woff2"), url("../fonts/play/PlayfairDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'play';
  src: url("../fonts/play/PlayfairDisplay-BoldItalic.woff2") format("woff2"), url("../fonts/play/PlayfairDisplay-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'play';
  src: url("../fonts/play/PlayfairDisplay-ExtraBold.woff2") format("woff2"), url("../fonts/play/PlayfairDisplay-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'play';
  src: url("../fonts/play/PlayfairDisplay-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/play/PlayfairDisplay-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'play';
  src: url("../fonts/play/PlayfairDisplay-Italic.woff2") format("woff2"), url("../fonts/play/PlayfairDisplay-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'play';
  src: url("../fonts/play/PlayfairDisplay-Medium.woff2") format("woff2"), url("../fonts/play/PlayfairDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'play';
  src: url("../fonts/play/PlayfairDisplay-MediumItalic.woff2") format("woff2"), url("../fonts/play/PlayfairDisplay-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'play';
  src: url("../fonts/play/PlayfairDisplay-Regular.woff2") format("woff2"), url("../fonts/play/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'play';
  src: url("../fonts/play/PlayfairDisplay-SemiBold.woff2") format("woff2"), url("../fonts/play/PlayfairDisplay-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
.f-play {
  font-family: 'play'; }

@keyframes myScale {
  0% {
    transform: scale(0.6); }
  25% {
    transform: scale(0.8); }
  50% {
    transform: scale(0.6); }
  75% {
    transform: scale(0.8); }
  100% {
    transform: scale(0.6); } }
@keyframes coverbanner {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
body {
  box-sizing: border-box;
  color: #000000;
  padding: 0 !important;
  font-size: 14px;
  line-height: 1.8;
  transition: .3s all;
  position: relative;
  font-weight: normal;
  font-family: 'Avo'; }
  body h1, body h2, body h3, body h4, body h5, body h6, body p, body label, body ul, body li, body .card, body a {
    text-decoration: none !important;
    transition: .3s all;
    margin-bottom: 0;
    outline: none !important; }
  body a {
    transition: .3s all !important;
    color: #000000; }
    body a:hover {
      color: #F27935; }
  body ul {
    padding: 0;
    margin: 0; }
  body input, body button {
    outline: none !important;
    box-shadow: none;
    transition: .3s all; }
  body .slick-slide {
    height: auto; }
    body .slick-slide img {
      display: inline; }
  body .container {
    width: 100%;
    max-width: 1160px; }
  body img {
    max-width: 100%; }
  body .container-fluid {
    padding: 0 45px; }

.slick-slider {
  margin-bottom: 0; }

.slide-banner .slick-dots {
  position: absolute;
  bottom: 20px; }
.slide-banner .item {
  position: relative; }
.slide-banner .avarta img {
  height: 626px;
  object-fit: cover; }

.avarta {
  overflow: hidden; }
  .avarta img {
    transition: .5s all !important; }
    .avarta img:hover {
      transform: scale(1.05); }

.slick-dots {
  position: unset;
  padding-top: 20px; }
  .slick-dots button {
    display: none !important; }
  .slick-dots li {
    width: 10px;
    height: 10px;
    background: #aaaaaa;
    border-radius: 100%; }
    .slick-dots li.slick-active {
      background: #a80000; }

footer {
  padding: 97px 0 210px;
  color: #fff; }

.item-ft {
  line-height: 1.8;
  text-align: justify; }
  .item-ft ul {
    list-style: none; }

.title-ft {
  font-size: 18px;
  color: #EBD77F;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase; }

.footer-bott {
  padding-top: 55px; }

.header-top {
  background: #15100de6;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1001; }
  .header-top .logo a {
    display: inline-block;
    padding: 10px; }
  .header-top.fixed {
    background: #15100de6 !important; }
    .header-top.fixed .header-top .logo a {
      background: transparent !important; }
    .header-top.fixed .btn-bar img {
      background: transparent !important; }

.header-right {
  position: relative; }

.menu-h {
  background: linear-gradient(90deg, rgba(29, 16, 3, 0.9) 0%, rgba(43, 28, 4, 0.9) 50%, rgba(29, 15, 1, 0.9) 100%);
  position: absolute;
  width: 350px;
  padding: 25px;
  font-size: 16px;
  text-align: left;
  top: 80px;
  right: 40px;
  transition: .5s all !important;
  pointer-events: none;
  opacity: 0; }
  .menu-h.active {
    opacity: 1;
    top: 40px;
    right: 0;
    pointer-events: unset; }
  .menu-h .current-menu-item a {
    color: #fff;
    opacity: 1; }
    .menu-h .current-menu-item a:after {
      opacity: 1; }
  .menu-h a {
    color: #fff;
    opacity: .6;
    display: flex;
    align-items: center;
    padding: 10px 0;
    position: relative; }
    .menu-h a:hover, .menu-h a.active {
      color: #fff;
      opacity: 1; }
      .menu-h a:hover:after, .menu-h a.active:after {
        opacity: 1; }
    .menu-h a:after {
      content: "→";
      position: absolute;
      font-family: 'Avo';
      font-weight: bold;
      color: #fff;
      opacity: 0;
      top: 8px;
      right: 0; }
  .menu-h ul {
    list-style: none; }
    .menu-h ul li {
      border-bottom: 1px solid #ffffff4d; }
      .menu-h ul li:last-child {
        border-bottom: 0; }

main {
  padding-top: 92px; }

@media (max-width: 767px) {
  footer {
    padding: 35px 0; }

  .footer-top .col-md-3 {
    margin-bottom: 30px; }

  .footer-top .col-md-3:last-child {
    margin-bottom: 0; }

  .title-ft {
    font-size: 16px; }

  .footer-bott {
    padding-top: 30px; }

  main {
    padding-top: 0; } }
.intro-video {
  position: absolute;
  bottom: 45px;
  right: 45px;
  z-index: 2; }

.box-1 {
  position: relative; }
  .box-1:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/after-banner.png") no-repeat center;
    background-size: cover; }
  .box-1 .info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    z-index: 2; }

.caption {
  position: relative;
  padding: 45px; }
  .caption .info-cap {
    max-width: 476px;
    margin-left: auto; }
  .caption .desc {
    margin-bottom: 15px; }
  .caption h2 {
    font-size: 52px;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase; }
  .caption h3 {
    font-size: 24px;
    font-weight: 700;
    padding: 12px 0; }

.btn-grad a {
  display: inline-flex;
  height: 42px;
  align-items: center;
  max-width: 178px;
  color: #fff;
  width: 100%;
  justify-content: center;
  padding-bottom: 4px;
  position: relative; }
  .btn-grad a img {
    position: absolute;
    width: 100%;
    height: 100%; }

.box-2 {
  position: relative; }
  .box-2:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/after-banner.png") no-repeat center;
    background-size: cover; }
  .box-2 h2 {
    font-size: 52px;
    font-weight: 700;
    font-style: italic; }

.info-box-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 60px 0;
  z-index: 2;
  color: #fff; }
  .info-box-2 h2 {
    margin-bottom: 10px; }
  .info-box-2 .t-top {
    font-size: 24px;
    font-weight: 700;
    position: relative; }
    .info-box-2 .t-top:after {
      content: "";
      width: calc(100% - 110px);
      height: 1px;
      background: #fff;
      position: absolute;
      bottom: 12px;
      right: 0; }
  .info-box-2 .btn-grad {
    position: relative; }
    .info-box-2 .btn-grad:after {
      content: "";
      width: calc(100% - 200px);
      height: 1px;
      background: #fff;
      position: absolute;
      left: 0;
      top: 50%; }

.desc-box-2 {
  padding: 15px 0; }
  .desc-box-2 .desc {
    max-width: 475px; }

.box-3 {
  padding: 210px 0;
  color: #fff; }

.info-prev h2 {
  font-size: 52px;
  font-weight: 700;
  font-style: italic; }
.info-prev .desc {
  padding: 25px 0; }

.prev-slide {
  position: relative;
  margin-bottom: 76px; }
  .prev-slide:after {
    content: "";
    width: 100%;
    height: 3px;
    background: #ffffff33;
    position: absolute;
    bottom: 0; }
  .prev-slide .slider-nav {
    margin: 0 -15px; }
    .prev-slide .slider-nav .clc {
      padding: 0 15px 10px 15px;
      opacity: .4;
      transition: .4s all !important; }
      .prev-slide .slider-nav .clc.slick-current, .prev-slide .slider-nav .clc:hover {
        opacity: 1; }
        .prev-slide .slider-nav .clc.slick-current .item:after, .prev-slide .slider-nav .clc:hover .item:after {
          width: 100%; }
    .prev-slide .slider-nav .item {
      cursor: pointer;
      position: relative; }
      .prev-slide .slider-nav .item:after {
        content: "";
        width: 0;
        height: 3px;
        background: linear-gradient(97.14deg, #FAFF03 0%, #6BEC7A 63.48%, #1B8CFF 106.73%);
        position: absolute;
        bottom: -10px;
        left: 0;
        transition: .3s all !important; }

.box-video {
  position: relative; }
  .box-video .clc-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .box-video .clc-video a {
      animation: myScale 3s infinite; }

.box-news {
  padding: 100px 0;
  color: #fff; }
  .box-news h2 {
    font-size: 52px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
    font-style: italic; }

.item-news {
  background: #fff;
  border-radius: 5px;
  color: #6A798C;
  line-height: 1.5;
  height: 100%; }
  .item-news .info {
    padding: 12px; }
    .item-news .info h3 a {
      display: block;
      color: #333B69;
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 15px; }
    .item-news .info .i-news {
      padding-bottom: 15px; }
      .item-news .info .i-news ul {
        display: flex;
        align-items: center; }
      .item-news .info .i-news li {
        display: flex;
        align-items: center;
        padding-right: 25px; }
        .item-news .info .i-news li img {
          margin-right: 8px; }
        .item-news .info .i-news li:last-child {
          padding-right: 0; }
    .item-news .info .desc {
      padding-bottom: 10px; }

.content-comm {
  padding: 100px 15px 0 15px; }

.list-comm ul {
  display: flex;
  flex-wrap: wrap; }
  .list-comm ul li {
    margin-right: 0 !important;
    flex: 0 0 calc(100% / 3);
    max-width: 100%; }

.item-comm {
  text-align: left;
  padding: 15px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: .4ss all !important; }
  .item-comm .info {
    font-size: 22px;
    font-weight: 600;
    padding: 10px 0; }
    .item-comm .info .desc {
      font-size: 16px;
      font-weight: 300; }
    .item-comm .info h3 {
      font-size: 24px;
      font-weight: 600;
      padding: 5px 0; }
  .item-comm:hover {
    border: 1px solid #fff; }

.box-about {
  padding: 100px 0;
  color: #fff;
  line-height: 1.6; }

.title-pg {
  margin-bottom: 50px; }
  .title-pg h2 {
    font-size: 52px;
    font-weight: 700;
    font-style: italic;
    color: #fff; }

.box-project {
  padding: 55px 0 175px 0; }
  .box-project .container-fluid {
    padding: 0;
    overflow: hidden; }

.about-top {
  padding-bottom: 60vh; }

.item-pr {
  position: relative; }
  .item-pr:hover .info {
    opacity: 1; }
  .item-pr .info {
    background: #1d1d1dcc;
    color: #ffffff80;
    padding: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .4s all !important;
    pointer-events: none;
    opacity: 0; }
  .item-pr .top {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 50px; }
    .item-pr .top:after {
      content: "";
      width: calc(100% + 40px);
      height: 1px;
      background: #ffffff4d;
      position: absolute;
      bottom: 2px;
      right: -40px; }
    .item-pr .top a {
      color: #fff;
      font-size: 25px;
      font-weight: 700; }
  .item-pr .i-right {
    font-size: 13px;
    font-weight: 600;
    color: #fff; }
  .item-pr .desc {
    max-width: 330px;
    margin-left: auto;
    line-height: 2; }
  .item-pr .btn-more {
    position: absolute;
    bottom: 40px;
    left: 40px; }
    .item-pr .btn-more img {
      width: 60px; }

.slide-project {
  margin: 0 -15px; }
  .slide-project .item-slide {
    padding: 0 15px; }

.news {
  background: linear-gradient(90deg, #44270A 0%, #63430E 50%, #44270A 100%);
  padding: 175px 0 100px 0; }

.item-new-pg {
  position: relative; }
  .item-new-pg:hover .info {
    opacity: 1; }
  .item-new-pg .info {
    padding: 35px;
    color: #fff;
    background: #533413cc;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .4s all !important;
    opacity: 0;
    pointer-events: none; }
  .item-new-pg .top {
    margin-bottom: 57px;
    position: relative;
    display: flex;
    justify-content: space-between; }
    .item-new-pg .top:after {
      content: "";
      width: calc(100% + 35px);
      position: absolute;
      height: 1px;
      background: #fff;
      bottom: 3px;
      right: -35px; }
    .item-new-pg .top h3 a {
      display: inline-block;
      font-size: 25px;
      font-weight: 700;
      color: #fff; }
    .item-new-pg .top .i-right {
      font-size: 13px; }
    .item-new-pg .top .desc {
      max-width: 330px;
      margin-left: auto;
      text-align: right; }
  .item-new-pg .btn-more {
    position: absolute;
    bottom: 35px;
    left: 35px; }
    .item-new-pg .btn-more a {
      color: #fff; }
      .item-new-pg .btn-more a img {
        margin-left: 10px; }
  .item-new-pg .desc {
    max-width: 330px;
    margin-left: auto;
    text-align: right; }

.list-new-pg .row {
  margin: 0 -30px; }
  .list-new-pg .row .col-md-4 {
    padding: 30px; }
.list-new-pg .item-new-pg {
  margin-bottom: 60px; }
  .list-new-pg .item-new-pg:last-child {
    margin-bottom: 0; }

.news .container-fluid {
  padding: 0;
  overflow: hidden; }

.list-tab {
  font-size: 15px;
  margin-bottom: 30px; }
  .list-tab li {
    padding-right: 30px; }
    .list-tab li:last-child {
      padding-right: 0; }
  .list-tab a {
    color: #fff; }
    .list-tab a.active {
      color: yellow; }

.content-tab {
  display: none; }
  .content-tab.active {
    display: block; }

.info-contact {
  padding: 210px 0;
  color: #fff; }

.maps {
  display: flex;
  align-items: center; }
  .maps iframe {
    width: 100%;
    height: 475px; }

.content-form-contact {
  padding: 80px 0; }
  .content-form-contact h4 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 100px; }

.ctn-left {
  font-size: 15px;
  max-width: 380px; }
  .ctn-left .hotline {
    padding-bottom: 80px; }
    .ctn-left .hotline a {
      font-size: 32px;
      color: #F27935;
      font-weight: 600; }
  .ctn-left .desc {
    margin-bottom: 80px; }
    .ctn-left .desc span {
      color: #F27935; }
  .ctn-left ul {
    list-style: none; }
    .ctn-left ul li {
      margin-bottom: 5px;
      display: flex;
      align-items: center; }
      .ctn-left ul li:last-child {
        margin-bottom: 0; }
      .ctn-left ul li strong {
        padding-right: 10px; }
    .ctn-left ul a {
      font-size: 30px;
      display: inline-block;
      margin-right: 20px; }
      .ctn-left ul a:hover {
        color: #F27935; }
      .ctn-left ul a:last-child {
        margin-right: 0; }

.ctn-right h4 {
  font-size: 30px;
  margin-bottom: 60px; }
  .ctn-right h4 span {
    color: #f27935; }

.list-form-ctn .row > div {
  padding: 15px; }
  .list-form-ctn .row > div:last-child {
    padding-bottom: 0; }
.list-form-ctn .txt-ctn {
  width: 100%;
  height: 50px;
  border: 1px solid #aaa;
  padding: 0 15px; }
.list-form-ctn textarea {
  width: 100%;
  outline: none;
  height: 175px;
  border: 1px solid #aaa;
  padding: 10px; }
.list-form-ctn .btn-contact {
  cursor: pointer;
  height: 50px;
  background: #F27935;
  font-size: 13px;
  color: #fff;
  border: 0;
  width: 100%; }

.contact {
  padding-top: 120px; }

.title-line {
  position: relative; }
  .title-line:after {
    content: "";
    width: 100%;
    height: 1px;
    background: #aaaaaa;
    position: absolute;
    bottom: 6px;
    left: 0; }
  .title-line h2 {
    color: #000000;
    font-style: normal; }
  .title-line h1 {
    ccolor: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 57px;
    position: relative; }
    .title-line h1 span {
      color: #F27935;
      font-weight: 600;
      font-size: 15px;
      text-transform: uppercase;
      position: absolute;
      bottom: -25px;
      left: 0; }

.new-detail {
  padding: 150px 0; }
  .new-detail .title-line {
    margin-bottom: 100px; }

.slide-news-other {
  margin: 0 -30px; }
  .slide-news-other .item-slide {
    padding: 0 30px; }

.other-news {
  overflow: hidden;
  padding: 150px 0;
  background: #F9F9F9; }

.title-ther {
  margin-bottom: 70px; }
  .title-ther h2 {
    font-size: 50px;
    font-weight: 500; }

.box-comment {
  padding: 150px 0; }

.content-detail {
  padding: 150px 0 0 0; }

.detail {
  max-width: 730px;
  margin: 0 auto; }
  .detail .date {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 120px; }
    .detail .date span {
      color: #F27935; }
  .detail .description {
    font-size: 21px;
    line-height: 1.5;
    margin-bottom: 120px; }

.info-detail {
  padding-bottom: 120px; }
  .info-detail p {
    margin-bottom: 20px; }
  .info-detail .h1, .info-detail .h2, .info-detail .h3, .info-detail .h4, .info-detail .h5, .info-detail .h6, .info-detail h1, .info-detail h2, .info-detail h3, .info-detail h4, .info-detail h5, .info-detail h6 {
    font-weight: 600;
    margin-bottom: 20px !important; }

.tags {
  padding-bottom: 20px; }

.cover-banner img {
  animation: coverbanner 65s infinite; }

.box-form {
  position: relative; }
  .box-form img {
    position: absolute;
    height: 100%;
    right: 0;
    max-width: 40%;
    object-fit: cover; }

.box-form {
  position: relative;
  background: linear-gradient(90deg, #44270A 0%, #7D5819 50%, #44270A 100%); }
  .box-form .container-fluid {
    padding: 0;
    overflow: hidden; }

.text-form {
  padding: 76px 0;
  color: #FFf; }
  .text-form h4 {
    font-size: 24px;
    font-weight: 700; }
  .text-form h2 {
    font-size: 52px;
    font-weight: 700;
    font-style: italic; }
  .text-form .title {
    margin-bottom: 75px; }

.content-form .item {
  margin-bottom: 30px; }
  .content-form .item:last-child {
    margin-bottom: 0; }
  .content-form .item span {
    display: block;
    margin-bottom: 5px; }
  .content-form .item .txt-inp {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #fff;
    background: transparent;
    height: 35px;
    font-weight: bold;
    color: #fff;
    font-size: 16px; }
  .content-form .item textarea {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #fff;
    background: transparent;
    height: 70px;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    outline: none; }
  .content-form .item input[type=checkbox] {
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
    margin-right: 10px; }
.content-form ul li {
  padding-right: 30px; }
  .content-form ul li:last-child {
    padding-right: 0; }
.content-form label {
  cursor: pointer; }
.content-form .btn-grad {
  background: transparent;
  height: 42px;
  width: 270px;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  transition: .4s all !important; }
  .content-form .btn-grad:hover {
    color: #1f160e;
    background: #fff; }

.box-bn-archi {
  position: relative; }
  .box-bn-archi .intro {
    position: absolute;
    bottom: 45px;
    z-index: 2;
    right: 45px; }

.link-archi {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 45px; }
  .link-archi ul {
    list-style: none;
    max-width: 550px; }
    .link-archi ul li {
      border-bottom: 1px solid #ffffff4d; }
      .link-archi ul li:first-child {
        border-top: 1px solid #ffffff4d; }
  .link-archi a {
    font-size: 15px;
    color: #fff;
    opacity: 0.3;
    display: flex;
    padding: 7px 0;
    align-items: center; }
    .link-archi a span {
      padding-left: 10px;
      opacity: 0; }
    .link-archi a:hover {
      color: #fff;
      opacity: 1; }
      .link-archi a:hover span {
        opacity: 1; }

.cap-archi {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  align-items: center;
  justify-content: center;
  pointer-events: none; }
  .cap-archi .container {
    display: flex;
    height: 100%;
    align-items: center;
    width: 100%; }
  .cap-archi .info-cap {
    max-width: 476px;
    color: #fff;
    margin-left: auto; }
    .cap-archi .info-cap h1 {
      margin-bottom: 15px; }

.archi-main {
  color: #fff;
  background: linear-gradient(90deg, #2B1602 0%, #3C2602 50%, #311902 100%); }

.box-prj {
  padding: 150px 0; }
  .box-prj .title {
    margin-bottom: 80px; }
    .box-prj .title h2 {
      font-size: 57px;
      font-weight: 600;
      line-height: inherit; }
  .box-prj .container-fluid {
    padding: 0;
    overflow: hidden; }
  .box-prj .item-pr .info {
    background: linear-gradient(90deg, #44270A 0%, #563D13 50%, #44270A 100%);
    border: 1px solid #ffffff4d; }

.new-archi {
  background: linear-gradient(90deg, #44270A 0%, #563D13 50%, #44270A 100%);
  padding: 150px 0; }
  .new-archi .left {
    max-width: 485px;
    height: 100%; }
  .new-archi .title {
    margin-bottom: 145px; }
    .new-archi .title h2 {
      font-size: 57px;
      font-weight: 600; }

.link-new-ar ul {
  list-style: none; }
  .link-new-ar ul a {
    color: #fff;
    font-size: 15px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .link-new-ar ul a img {
      opacity: 0; }
    .link-new-ar ul a:hover {
      color: #EBD77F; }
      .link-new-ar ul a:hover img {
        opacity: 1; }
  .link-new-ar ul li {
    border-bottom: 1px solid #ffffff4d; }

.archi-main h2 {
  font-size: 25px;
  font-weight: 700; }

.box-feedback {
  padding: 150px 0 0 0; }
  .box-feedback h2 {
    margin-bottom: 150px; }

.slide-feed {
  margin: 0 -50px; }
  .slide-feed .item-slide {
    padding: 0 50px; }

.item-feed .name {
  position: relative;
  border-bottom: 1px solid #ffffff4d;
  margin-bottom: 35px;
  margin-top: 80px; }
  .item-feed .name h3 {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase; }
  .item-feed .name img {
    position: absolute;
    right: 0;
    bottom: 0px; }
.item-feed .desc {
  color: #ffffff80;
  max-width: 300px;
  font-size: 15px;
  text-align: right; }

.box-desc {
  background: linear-gradient(90deg, #44270A 0%, #563D13 50%, #44270A 100%);
  padding: 150px 0; }

.box-quess {
  font-size: 15px;
  color: #ffffff80; }

.item-quess {
  position: relative;
  border-bottom: 1px solid #ffffff4d;
  padding: 10px 0; }
  .item-quess .btn-exp {
    position: absolute;
    left: 0;
    bottom: 40px; }
  .item-quess h4 {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer; }
    .item-quess h4 img {
      transform: rotate(90deg);
      transition: .4s all !important;
      border-radius: 100%; }
    .item-quess h4.active img {
      transform: rotate(270deg);
      background: linear-gradient(97.14deg, #FAFF03 0%, #6BEC7A 63.48%, #1B8CFF 106.73%); }

.answer {
  max-width: 400px;
  margin-left: auto;
  text-align: right;
  padding: 40px 0;
  display: none; }

.box-gall-archi {
  padding: 150px 0; }
  .box-gall-archi .row {
    align-items: flex-end;
    margin: 0 -40px; }
    .box-gall-archi .row .col-md-6 {
      padding: 0 40px; }

.box-gall {
  margin-bottom: 80px; }
  .box-gall h2 {
    margin-bottom: 80px; }

.box-ins h2 {
  max-width: 50%;
  margin-left: auto;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
